section {
    height: 100svh;
    position: relative;
    .gameContainer {
        width: 100vw;
        height: 100svh;
        max-width: 100%;
        background: url('/assets/img/background.jpg');
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        .cardStack {
            position: relative;
            img {
                width: clamp(5rem, 9vw, 12rem);
                position: absolute;
                transform: translate(50%, -50%);
                @media (orientation: landscape) {
                    width: clamp(3rem, 9vh, 12rem);
                }
                @media (orientation: portrait) {
                    width: clamp(5rem, 9vw, 12rem);
                }
            }
        }
        .playedCard {
            right: 20px;
            transform: translate(200%, -140%) rotate(25deg) !important;
        }
        .takeCardAnimation {
            animation: takeCardAnimation 500ms ease forwards;
        }
        .topCard {
            transition: all 125ms ease-in-out;
            &:hover {
                scale: 1;
            }
            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    scale: 1.1;
                    cursor: pointer;
                }
            }
        }
    }
    .addPlayerButton {
        position: absolute;
        bottom: 4rem;
        left: 4rem;
        scale: 1.5;
        @media (orientation: landscape) and (max-width: 900px) {
            bottom: unset;
            left: unset;
            top: 2rem;
            right: 2rem;
            scale: unset;
        }
        @media (orientation: portrait) {
            @media (max-width: 500px) {
                bottom: unset;
                left: unset;
                top: 2rem;
                right: 2rem;
                scale: unset;
            }
        }
    }
    .copyButton {
        position: absolute;
        bottom: 9rem;
        left: 4rem;
        @media (orientation: landscape) and (max-width: 900px) {
            bottom: unset;
            left: unset;
            top: 2rem;
            right: 6rem;
        }
        @media (orientation: portrait) {
            @media (max-width: 500px) {
                bottom: unset;
                left: unset;
                top: 2rem;
                right: 6rem;
            }
        }
    }
    .mobile2 {
        display: none;
    }
}

@keyframes takeCardAnimation {
    0% {
        scale: 1.1;
    }
    50% {
        scale: 1.6;
    }
    70% {
        scale: 1.6;
        transform: translate(55%, -70%);
    }
    100% {
        transform: translate(200%, -140%) rotate(25deg);
    }
}
