.startScreen {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background: url('/assets/img/background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 100vh;
    }
    .startScreenImg {
        @media (max-width: "1150px") {
            display: none;
        }
    }
    .startScreenImgMobile {
        height: 60vh;
        @media (min-width: "1150px") {
            display: none;
        }
        @media (max-width: "630px") {
            height: 40vh;
        }
    }
}

.goldenBannerContainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5rem;
    display: flex;
    justify-content: center;
    margin: 0 1.5rem 0 0;
    img {
        width: 20rem;
        height: auto;
        &:hover {
            filter: brightness(1.5);
            cursor: pointer;
        }
    }
    @media (max-width: "1150px") {
        margin: 0;
    }
}