.gameContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background: url('/ringOfFire/assets/img/background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardStack {
    position: relative;
    img {
        width: 10rem;
        position: absolute;
        transform: translate(50%, -50%);
    }
}

.playedCard {
    right: 20px;
    transform: scale(1) translateX(350px) translateY(-370px) rotate(25deg) !important;
}

.takeCardAnimation {
    animation: takeCardAnimation 500ms ease forwards;
}

@keyframes takeCardAnimation {
    0% {
        scale: 1.1;
    }
    50% {
        scale: 1.6;
    }
    70% {
        scale: 1.6;
        transform: translate(55%, -70%);
    }
    100% {
        transform: scale(1) translateX(350px) translateY(-370px) rotate(25deg);
    }
}

.topCard {
    &:hover {
        scale: 1.1;
        cursor: pointer;
    }
}

.addPlayerButton {
    position: absolute;
    bottom: 4rem;
    left: 4rem;
    scale: 2;
}