<section>
    <app-player class="hideMobile" style="position: absolute;" *ngFor="let player of game.players; let i = index;" [ngStyle]="{'top.rem': 2 +  (i * 6)}" [name]="player" [playerActive]="i == game.currentPlayer"></app-player>
    <app-player class="hideDesktop" style="position: absolute;" *ngFor="let player of game.players; let i = index;" [ngStyle]="{'top.rem': 2 +  (i * 4)}" [name]="player" [playerActive]="i == game.currentPlayer"></app-player>

    <div class="gameContainer">
        <div class="cardStack">
            <!-- Stack of cards -->
            <img [ngStyle]="{'right.px': i * 5}" *ngFor="let card of [0, 1, 2, 3]; let i = index;" src="assets/img/cards/card_cover.png">
            <img (click)="takeCard()" class="topCard" style="right: 20px;" src="assets/img/cards/card_cover.png">

            <!-- Stack of played cards -->
            <img *ngFor="let card of game.playedCards" src="assets/img/cards/{{ card }}.png" class="playedCard">

            <!-- Current card Animation -->
            <img *ngIf="game.takeCardAnimation" class="takeCardAnimation" style="right: 20px;" src="assets/img/cards/{{ game.currentCard }}.png">
        </div>
    </div>

    <app-rule-card [notEnoughPlayers]="game.notEnoughPlayers" [ruleCard]="game.currentCard"></app-rule-card>

    <button mat-fab color="primary" class="addPlayerButton" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>

    <button mat-fab color="primary" class="copyButton" (click)="copy()" (click)="openDialogCopied()">
  <mat-icon>file_copy</mat-icon>
</button>
</section>
