section {
    height: 100svh;
    position: relative;
    .gameContainer {
        width: 100vw;
        height: 100svh;
        max-width: 100%;
        background: url('/assets/img/background.jpg');
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cardStack {
        position: relative;
        img {
            width: 10rem;
            position: absolute;
            transform: translate(50%, -50%);
        }
    }
    .playedCard {
        right: 20px;
        transform: scale(1) translateX(350px) translateY(-370px) rotate(25deg) !important;
        @media (max-height: 800px) {
            @media (min-width: 760px) {
                transform: scale(1) translateX(21rem) translateY(-7rem) rotate(25deg) !important;
            }
            @media (max-width: 760px) {
                transform: scale(1) translateX(6rem) translateY(-22rem) rotate(90deg) !important;
            }
        }
    }
    .takeCardAnimation {
        animation: takeCardAnimation 500ms ease forwards;
        @media (max-height: 800px) {
            @media (min-width: 760px) {
                animation: takeCardAnimation800h 500ms ease forwards;
            }
            @media (max-width: 760px) {
                animation: takeCardAnimation800h2 500ms ease forwards;
            }
        }
    }
    .topCard {
        transition: all 125ms ease-in-out;
        &:hover {
            scale: 1;
        }
        @media (hover: hover) and (pointer: fine) {
            &:hover {
                scale: 1.1;
                cursor: pointer;
            }
        }
    }
    .addPlayerButton {
        position: absolute;
        bottom: 4rem;
        left: 4rem;
        scale: 1.5;
        @media (max-width: 500px) {
            bottom: unset;
            left: unset;
            top: 2rem;
            right: 2rem;
            scale: unset;
        }
    }
    .copyButton {
        position: absolute;
        bottom: 9rem;
        left: 4rem;
        @media (max-width: 500px) {
            bottom: unset;
            left: unset;
            top: 2rem;
            right: 6rem;
        }
    }
}

@keyframes takeCardAnimation {
    0% {
        scale: 1.1;
    }
    50% {
        scale: 1.6;
    }
    70% {
        scale: 1.6;
        transform: translate(55%, -70%);
    }
    100% {
        transform: scale(1) translateX(350px) translateY(-370px) rotate(25deg);
    }
}

@keyframes takeCardAnimation800h {
    0% {
        scale: 1.1;
    }
    50% {
        scale: 1.6;
    }
    70% {
        scale: 1.6;
        transform: translate(55%, -70%);
    }
    100% {
        transform: scale(1) translateX(21rem) translateY(-7rem) rotate(25deg);
    }
}

@keyframes takeCardAnimation800h2 {
    0% {
        scale: 1.1;
    }
    50% {
        scale: 1.6;
    }
    70% {
        scale: 1.6;
        transform: translate(55%, -70%);
    }
    100% {
        transform: scale(1) translateX(6rem) translateY(-22rem) rotate(90deg);
    }
}
