<div *ngIf="data.playerLength">
    <h1 mat-dialog-title>Add new player</h1>

    <form [formGroup]="addPlayerForm">
        <div mat-dialog-content>
            <p>Please enter a name</p>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput>
            </mat-form-field>
            <ng-container *ngIf="addPlayerForm.controls['name'].errors?.['pattern']">
                <p class="error">Numbers and spaces are forbidden</p>
            </ng-container>
            <ng-container *ngIf="addPlayerForm.controls['name'].errors?.['maxlength']">
                <p class="error">Maximum letters is 10</p>
            </ng-container>
        </div>
        <div mat-dialog-actions>
            <button type="submit" mat-raised-button color="primary" [disabled]="!addPlayerForm.valid" [mat-dialog-close]="name">Ok</button>
        </div>
    </form>
</div>
<div *ngIf="!data.playerLength">
    <h1 mat-dialog-title>Maximum players reached</h1>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" [mat-dialog-close]="name">Ok</button>
    </div>
</div>
